{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/Book">
    {% if post.cover_image %}
      <div class="archive__item-teaser">
        <a href="{{ base_path }}{{ post.url }}">
          <img src="{{ base_path }}/{{ post.cover_image }}" alt="{{ title }}" style="max-width: 200px;" />
        </a>
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>
    {% if post.author %}<p class="archive__item-excerpt"><strong>저자:</strong> {{ post.author }}</p>{% endif %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description" style="font-size: 1em;">{{ post.excerpt }}</p>
    {% endif %}
  </article>
</div>
