<section class="thirteen columns">
    <h1>Experiences</h1>
    <article>
        <header>
            <h1>Software Engineer Intern</h1>
            <span>Timepercent</span>
            <span><address>Seoul, South Korea</address><time>2023 Summer</time></span>
        </header>
        <p>Learn Git, Gitlab, FastAPI basics, and agile development process. <br>
            Develop a web application for managing the company's internal data with FastAPI.</p>
    </article>
    <article>
        <header>
            <h1><a href="https://popo.poapper.club/">POstechian's POrtal(POPO)</a> Developer</h1>
            <span>Postech</span>
            <span><address>Pohang, South Korea</address><time>2023 Winter ~</time></span>
        </header>
            <a href="https://github.com/PoApper/popo-nest-api">Backend Repository</a> <br/>
    </article>
    <article>
        <header>
            <h1>Berkeley Concurrent Enrollment Student</h1>
            <span>Berkeley</span>
            <span><address>Berkeley, CA, USA</address><time>2024 Fall</time></span>
        </header>
    </article>
</section>
