<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <header>
            <h1>Music</h1>
        </header>
        <p>Big fan of ThornApple, a korean indie band. Check out my SoundCloud!</p>
    </article>
    <article>
        <header>
            <h1>Reading</h1>
        </header>
        <p>I usually read Keigo Higashino's novels</p>
    </article>
    <article>
        <header>
            <h1>Working Out</h1>
        </header>
        <p>Running, Exercising or Swimming in the morning</p>
    </article>
</section>