<section class="thirteen columns">
    <h1>Hobbies</h1>
    <article>
        <header>
            <h1>Attitude</h1>
            <li>Just Do It</li>
            <li>Minimalism</li>
            <img src="{{ site.baseurl }}static/img/fav_book.png" alt="fav book" width="300" height="500">
            <figcaption style="padding: 5px; border-radius: 5px; display: inline-block; width: 100%; box-sizing: border-box;">
                My favorite book: Changed the way I think and live
            </figcaption>
        </header>
    </article>
    <article>
        <header>
            <h1>Working Out</h1>
        </header>
        <li>Running, Exercising or Swimming in the morning</li>
        <li>I like riding a bicycle</li>
        <img src="{{ site.baseurl }}static/img/cross_country.png" alt="Crossing the country" width="300" height="500">
        <figcaption style="padding: 5px; border-radius: 5px; display: inline-block; width: 100%; box-sizing: border-box;">
            Crossing the country with a bicycle from Incheon to Busan, 611km (left is me) 
        </figcaption>
    </article>
    <article>
        <header>
            <h1>Music</h1>
        </header>
        <p>Big fan of ThornApple, a korean indie band. Check out my SoundCloud!</p>
    </article>
    <article>
        <header>
            <h1>Books</h1>
        </header>
        <p>Novel: Keigo Higashino</p>
    </article>
</section>